


/* estilo do botão */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    float: right;
  }
  
  /* estilo dos itens da lista */
  .dropdown-content {
    display: block;
    float: right;
  }
  

  